span {
    font-weight: 600;
    color: dodgerblue;
    text-decoration: underline;
}

.button-addNew {
    background-color: lightgrey;
    padding: 5px;
}

.dropdown {
    background-color: lightgray;
    margin: 0;
}

.selectCat {
    margin-left: 0;
}

.product {
    padding: 5px;
    box-shadow: -4px -2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    border-bottom: solid lightgrey;
    border-right: solid lightgrey;
    border-width: 1px;
    margin: 20px;
    width: 50%;
}

.button-purchase {
    background-color: lightgrey;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0 0 1.5rem 1rem;
    font-weight: 700;
}

.purchaseForm__title {
    margin: 20px;
}

@keyframes appear {
    from {
        opacity: 0.2;
        transform: rotate(20deg) translateY(-100%) ;
    }
    to {
        opacity: 0.8;
        transform: rotate(0deg) translateY(0%) ;
    }
}

.purchaseForm {
    animation-name: appear;
    animation-duration: 0.8s;
    border-radius: 0.3rem;
    width: 350px;
    margin-left: 50px;
    padding: 10px;
    background-color: lightgray;
}

.form-addition-label {
    width: 100px;
    line-height: 2rem;
    display: inline-block;
}

.form-addition-input {
    width: 200px;
    line-height: 2rem;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.button-placepurchase {
    background-color: lightcoral;
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
}

