
@keyframes slide-in {
    from {
        transform: translateX(20%);
        opacity: 0.8;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

textarea {
    margin: 10px;
    padding: 5px;
    height: 5rem;
    width: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.2rem;
    font-size: 1rem;
}

.button-submit {
    margin-left: 10px;
    padding: 5px;
    background-color: lightgray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

