
@keyframes Zoom {
    0% {transform: scale(0,0);}
    100% {transform: scale(1,1);}
 }

.serviceForm {
    animation-name: Zoom;
    animation-duration: 1s;
}

textarea {
    margin: 10px;
    padding: 5px;
    height: 5rem;
    width: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.2rem;
    font-size: 1rem;
}

.button-submit {
    margin-left: 10px;
    padding: 5px;
    background-color: lightgray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.3rem;
}

